---
title: About
layout: default
permalink: /about/
---
<div class="container">
    <h1 class="page-header centered">Sobre</h1>
    <div class="row">
        <h4>
            O Transparência Unicamp é um grupo estudantil que com o objetivo de coletar, analisar e disponibilizar de forma clara visando enriquecer o debate dentro da universidade.
        </h4>
        <p>
        Criado meio a greve estudantil ocorrida na Unicamp em 2016, a organização surge com a ambição de ser uma fonte confiável e clara dos dados da universidade. Ajudou no esclarecimento da situação orçamentária, e levou o trabalho presencialmente para mais de 18 institutos e faculdades da Unicamp e digitalmente para mais de 20 mil acessos.
        </p>
        <p>
        Firmou compromissos com os candidatos a reitoria para estabelecer metas claras de transparência institucional de informação.
        </p>
        <p>
          Junto da iniciativa do Hackathon promovida pelo IC ajudou a desenvolver uma plataforma interativa que contribuisse com a causa do acesso a informação
        </p>
      </div>

    <h2 class="centered page-header">People</h2>

    <div class="row">
      <div class="panel-group">
        <!-- empty media element prevents rules for media:first-child from messing up first person -->
        <div class="media"></div>
        <div class="clearfix">
        {% for person in site.data.people %}

          {% assign loopindex2 = forloop.index0 | modulo: 2 %}

          <div class="media col-sm-6" style="padding: 5px; margin-top: 0px">
            <div class="panel panel-default" style="padding: 10px">
              <div class="media-left">
                <a href="{{ person.url }}">
                  {% if person.image %}
                      <img src="/img/people/{{ person.image }}" class="media-object" alt="{{ person.name }}" style="width: 64px;" />
                  {% else %}
                      <img src="/img/people/generic.jpg" class="media-object" alt="{{ person.name }}" style="width: 64px;" />
                  {% endif %}
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ person.name }}</h4>
                <h5>
                  <div class="row">
                    <div class="col-sm-6">
                      {{ person.course }}
                    </div>
                    <div class="col-sm-6">
                       {{ person.year }}
                    </div>
                  </div>
                </h5>
                {{ person.bio }}
              </div>
            </div>
          </div>

          {% if loopindex2 == 1 %}
             <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
          {% endif %}

        {% endfor %}
        </div>
      </div>
    </div>

</div>
